<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uta.cse5320.suitcasemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TripListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddTripActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BagListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AirlineActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ItemListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <!-- https://developer.android.com/reference/android/support/v4/content/FileProvider.html -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="edu.uta.cse5320.suitcasemanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>